* {
  font-family: 'verdana', 'sans-serif';
  color: #1f2273;
}
body {
  margin: 0;
}
p {
  font-size: 18px;
}
header, #secondary-slider {
  background: #f2e6dc;
}
header {
  text-align: center;
}
header section, .media, .products {
  padding: 10px;
}
header section:first-child{
  background:
    url('https://hemiblue.com/images/buds.jpeg');
  background-size: cover;
}
h3{
  text-shadow: 3px 3px midnightblue;
  color: white;
}
header img {
  max-width: 100%;
}
.splide__slide__container {
  border-radius: 10px;
}
.pick-your-own {
  background: linear-gradient(#f2e6dc, #fff);
  padding: 20px;
}
.portfolio-holder{
  clear: both;
  text-align: center;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.portfolio-holder img {
  max-width: 100%;
}
.row-2{
  grid-row: span 2 / auto;
}
.column-2{
  grid-column: span 2 / auto;
}
@media only screen and (min-width: 650px) {
  header, .pick-your-own {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
  }
  .pick-your-own {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
  }
  header section {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .portfolio-holder{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
