
.button-collapse {
  color: #26a69a;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  #logo {
    width: 40%;
    margin-top: -120px;
  }
  .tagline{
  font-size: 1.7em;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #logo {
    width: 70%;
  }
  .tagline{
  font-size: 1em;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* redesign styles */
* {
  font-family: 'verdana', 'sans-serif';
  color: #1f2273;
}
body {
  margin: 0;
}

p {
  font-size: 18px;
}
header {
  text-align: center;
}

header section, .media, .pick-your-own {
  padding: 10px;
}

header section:first-child, .products{
  background:
    url('https://hemiblue.com/images/buds.jpeg');
  background-size: cover;
}

h3{
  text-shadow: 3px 3px midnightblue;
  color: white;
}

header img {
  max-width: 100%;
}

.splide__slide__container {
  border-radius: 10px;
}

.portfolio{
  clear: both;
}
.portfolio-holder{
  clear: both;
  text-align: center;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.row-2{
  grid-row: span 2 / auto;
}

@media only screen and (min-width: 650px) {
  header, .pick-your-own {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
  }
  header section {
    height: 100vh;
    align-items: center;
    display: flex;
  }
  .portfolio-holder{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
